# General
.DS_Store
*.log

# Dependencies
node_modules/
venv/
.venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/
build/
.vercel
